@use 'mixin'
@import 'variables'
@import 'dropdown'

/** General **/
.container
	&__title
		text-align: center
		font-family: 'Raleway'
		font-weight: 100
		font-size: 48px
		margin-top: 40px
.grid
	display: grid
	&--main
		grid-template-columns: 3fr 1fr
		grid-template-rows: clamp(375px, 100%, 865px)
		gap: 16px
		padding-right: 16px

	&--category
		grid-template-columns: 1fr 1fr
		gap: 40px
		margin: 40px 0
		grid-template-areas: 'category1 category2' 'category3 category3' 'category4 category4'

	&--season
		grid-template-columns: 1fr 1fr
		position: relative
/** Header **/

.header
	display: flex
	max-width: 1800px
	padding: 10px 72px
	.container
		padding: 0
		display: flex
		width: 100%
	&__logo
		display: flex
		align-items: center
		img
			display: block

.nav
	margin-left: auto
	display: flex
	align-items: center
	margin: 0 auto
	font-family: 'Open Sans'
	font-weight: 300
	flex-wrap: wrap
	justify-content: center
	width: 500px

	&__item
		display: block
		margin-right: min(50px, 10%)
		color: $Color-Black
		text-decoration: none
		&:focus
			border-bottom: 1px solid #cc9999 !important
		&:last-child
			margin-right: 0

.nav-buttons
	display: flex
	align-items: center
	gap: 0 24px
	flex-wrap: wrap

	&__button
		width: 24px
		background: transparent
		border: 0
		cursor: pointer
		&:focus
			border-bottom: 1px solid #cc9999 !important

	&__item
		width: 24px
		&--notification
			position: relative
			&::after
				content: attr(data-count)
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
				width: 16px
				height: 16px
				position: absolute
				right: -8px
				top: -8px
				background: $Color-Pink
				font-size: 12px
				color: $Color-Black

		&--small
			&::after
				content: '' !important
				width: 10px !important
				height: 10px !important
				right: -4px
				top: -4px

		&:focus
			border-bottom: 1px solid #cc9999 !important

.number, .lang
	position: relative
	&__header
		display: flex
		align-items: center
		gap: 5px
		font-size: 14px
		font-family: 'Open Sans'
		font-weight: 300

	&__list
		position: absolute
		flex-direction: column
		background-color: $Color-White
		padding: 5px 10px
		border-radius: 5px

	&__button, &__number
		left: 0
		padding: 0
		margin: 0
		border: 0
		background: transparent
		font-size: 14px
		font-family: 'Open Sans'
		font-weight: 300
		white-space: nowrap

/** Main **/

.collection
	position: relative
	overflow: hidden
	max-height: 865px
	&__text-wrapper
		position: absolute
		top: 0
		left: 0
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		height: 100%

	&__text
		font-family: 'adineue PRO Cyr'
		color: $Color-Pink-Gray
		span
			line-height: 200%
			margin-left: 60px

		@include mixin.fluid-type($Container-S, $Container-L, 36px, 60px )

	&__link
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 1
		transition: .5s
		&:hover
			background: rgba($Color-Dark-Gray, 0.3)

	&__img
		width: 100%
		height: 100%
		object-fit: cover

.collection-one-sldie
	width: 100%
	max-height: 950px
	position: relative
	&__img
		max-height: 950px
		width: 100%
	&__link
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		@include mixin.fluid-type(320px, 1920px, 14px, 32px)

		font-family: 'adineue PRO Cyr'
		text-decoration: none
		color: $Color-Red
		text-transform: uppercase
		width: clamp(150px, 20%, 300px)
		height: clamp(40px,10%, 70px)
		border: 5px solid $Color-Red
		bottom: 20%
		left: 26%
		transition: .2s
		&:hover
			background-color: $Color-Red
			color: $Color-White
.collection-one
	&__pagination
		.swiper-pagination-bullet
			width: 10px
			height: 10px
			background-color: $Color-Light-Pink
			opacity: 1
		.swiper-pagination-bullet-active
			background-color: $Color-Pink

.main-swiper
	width: 100%

	&__wrapper
		width: 100%
	.swiper-button-prev, .swiper-button-next
		color: $Color-Black
		&::after
			font-size: 22px

.main-swiper-slide
	width: 100%
	&__img
		width: 100%
		max-height: 729px
		object-fit: cover

	&__price
		margin-top: 16px
		font-size: 18px
		font-family: 'Open Sans'
		font-weight: 600

	&__description
		margin: 16px 0
		font-size: 18px
		font-family: 'Open Sans'
		font-weight: 300
		color: $Color-Gray

	&__buy
		width: 150px
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		color: $Color-White
		font-size: 18px
		font-family: 'Open Sans'
		font-weight: 300
		background-color: $Color-Black
		transition: .2s
		text-decoration: none
		margin: auto auto 0

		&:hover
			background-color: $Color-White
			color: $Color-Black

		&--fill
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: transparent
			&:hover
				background: transparent

	&__video
		background: transparent
		border: 0
		outline: none
		position: absolute
		right: 20px
		bottom: 20px
		z-index: 3

	&__img-wrapper
		position: relative

/** Category **/

.category
	position: relative

	&__img
		width: 100%
		height: 100%
		object-fit: cover

	&__text-wrapper
		position: absolute
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		top: 0
		left: 0
		width: 100%
		height: 100%
		transition: .3s
		&:hover
			background: rgba($Color-Dark-Gray, 0.5)
			.category
				&__title
					transform: translateY(0)

				&__text, &__link
					opacity: 1

		&--special
			&:hover
				background: transpatent
	&__title
		font-family: 'GothamPro'
		font-size: 42px
		color: $Color-White
		transition: .3s
		transform: translateY(50px)
		&--special
			transform: translateY(0)
			color: $Color-Black
			font-family: 'Broadway'
			font-size: 50px
			position: absolute
			top: 20px
			right: 90px
			z-index: 1

	&__text
		font-family: 'Raleway'
		font-size: 100
		font-size: 22px
		color: $Color-White
		opacity: 0
		transition: .3s
		&--special
			position: absolute
			right: 30px
			font-size: 130px
			opacity: 1
			color: $Color-Red
			font-family: 'Broadway'

	&__link
		text-decoration: none
		text-transform: uppercase
		font-family: 'Raleway'
		font-size: 100
		color: $Color-White
		font-size: 14px
		display: flex
		justify-content: center
		align-items: center
		height: 40px
		width: 160px
		margin-top: 24px
		border: 1px solid $Color-White
		transition: .3s
		opacity: 0
		&:hover
			background-color: $Color-White
			color: $Color-Black

		&--fill
			border: 0
			width: 100%
			position: absolute
			left: 0
			top: 0
			height: 150px
			background: transparent
			margin-top: 0
			&:hover
				background: transparent
	&:nth-child(2)
		grid-area: category1
		margin-left: 20px

	&:nth-child(3)
		grid-area: category2
		margin-right: 20px

	&:nth-child(4)
		grid-area: category3

	&:nth-child(5)
		height: 150px
		max-height: 150px
		object-fit: cover
		grid-area: category4

/** Seasons **/

.season
	position: relative
	&__img
		width: 100%
		height: 50vw
		object-fit: cover

	&__title
		position: absolute
		bottom: 80px
		left: 100px
		font-size: 44px
		font-family: 'GothamPro'
		color: $Color-White

	&__text
		position: absolute
		bottom: 50px
		left: 170px
		font-size: 30px
		font-family: 'Raleway'
		font-weight: 100
		color: $Color-White

.season-link
	position: absolute
	top: 50%
	left: 50%
	font-family: 'Open Sans'
	text-decoration: none
	color: $Color-Black
	font-weight: 600
	background: transparent
	font-size: 36px
	text-transform: uppercase
	z-index: 5
	transform: translateX(-150px) translateY(-50px)
	span
		border: 3px solid $Color-Black
		width: 300px
		height: 100px
		display: flex
		justify-content: center
		align-items: center

	&::after
		content: ''
		display: block
		position: absolute
		left: 20px
		top: -20px
		width: 300px
		height: 100px
		transition: .3s
		background: $Color-Light-Pink
		z-index: -2

	&:hover
		&::after
			top: 0
			left: 0

/** Catalog **/

.catalog-swiper-wrapper
	position: relative
	max-width: 1800px
	margin: 40px auto
	padding: 0px 60px
	.swiper-button-prev, .swiper-button-next
		color: $Color-Black
		&::after
			font-size: 22px

.catalog-swiper

	&__wrapper
		width: 100%

.catalog-filter
	margin-top: 40px
	display: flex
	align-items: center
	justify-content: center
	&__item
		font-family: 'Raleway'
		font-weight: 100
		font-size: 26px
		background: transparent
		border: 0
		margin: 0px 25px
		position: relative
		&.active
			border-bottom: 2px solid $Color-Pink

		&::after
			position: absolute
			right: -25px
			top: 0
			content: ''
			display: block
			width: 1px
			height: 32px
			background: $Color-Light-Gray

		&:last-child
			&::after
				display: none

/** Video **/

.video
	&__title
		text-align: center
		font-family: 'Raleway'
		font-weight: 100
		font-size: 48px
		&--video
			color: $Color-White
			position: absolute
			left: 40px
			bottom: 40px

	&__subtitle, &__subtitle > a
		font-family: 'Open Sans'
		font-weight: 300
		text-align: center
		font-size: 16px
		color: $Color-Gray
		text-underline-position: under
		margin-bottom: 20px

	&__wrapper
		position: relative
		width: 100%

	&__img
		width: 100%

	&__buttons
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-32px) translateY(-32px)
		input
			appearance: none
			opacity: 0
			width: 0
			height: 0

		img
			&:nth-child(2)
				display: block
			&:nth-child(3)
				display: none

		input:checked ~ img:nth-child(2)
			display: none

		input:checked ~ img:nth-child(3)
			display: block

/** Instagram **/

.instagram
	&__title
		text-align: center
		font-family: 'Raleway'
		font-weight: 100
		font-size: 48px

	&__subtitle, &__subtitle > a
		font-family: 'Open Sans'
		font-weight: 300
		text-align: center
		font-size: 16px
		color: $Color-Gray
		text-underline-position: under
		margin-bottom: 20px

	&__wrapper
		display: grid
		grid-template-columns: repeat(6, 1fr)
		grid-template-rows: repeat(3, auto)
		grid-template-areas: 'first first 2 3 4 5' 'first first 6 7 last last' '8 9 10 11 last last'

	&__item
		position: relative
		width: 100%
		height: 100%

		&:first-child
			grid-area: first
		&:last-child
			grid-area: last

	&__img
		width: 100%
		height: 100%

	&__text
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background: rgba($Color-Black, 0.6)
		opacity: 0
		display: flex
		align-items: center
		justify-content: center
		font-family: 'Open Sans'
		font-weight: 300
		transition: .2s
		color: $Color-White
		img
			width: min(10%, 32px)
			&:nth-child(3)
				margin-left: min(10%, 32px)
		span
			margin-left: 10px
		&:hover
			opacity: 1

/** Review **/

.review-swiper-wrapper
	position: relative
	max-width: 1800px
	margin: 40px auto
	padding: 0px 60px
	.swiper-button-prev, .swiper-button-next
		color: $Color-Black
		&::after
			font-size: 22px

.review-swiper

	&__wrapper
		width: 100%

.review-swiper-slide
	display: flex
	&__text
		position: relative
		padding: 20px 30px

	&__title
		font-size: 20px
		font-family: 'Open Sans'
		font-weight: 400

	&__price
		font-size: 16px
		font-family: 'Open Sans'
		font-weight: 400
		margin: 40px 0

	&__description
		font-size: 14px
		font-family: 'Open Sans'
		font-weight: 300

	&__author
		font-size: 14px
		font-family: 'Open Sans'
		font-weight: 300
		margin-top: 40px
		font-style: italic

	&__more
		position: absolute
		top: auto
		bottom: 20px
		margin-top: auto
		display: flex
		align-items: center
		font-size: 14px
		font-family: 'Open Sans'
		font-weight: 300
		font-style: italic
		text-decoration: none
		color: $Color-Gray
		gap: 10px
		img
			width: 15px

	&__img
		width: 50%
		max-width: 350px
		height: 550px
		object-fit: cover

/**	About **/

.about
	max-width: 1800px
	padding: 0px 74px
	&__title
		margin-bottom: 40px
		font-family: 'Open Sans'
		font-weight: 600
		font-size: 24px
		@include mixin.fluid-type($Container-S, 1920px, 8px, 24px)

	&__text
		font-size: 16px
		font-family: 'Open Sans'
		font-weight: 300
		position: relative
		@include mixin.fluid-type($Container-S, 1920px, 8px, 16px)
		&::after
			content: ''
			width: 100%
			height: 50px
			position: absolute
			bottom: 0
			left: 0
			background: linear-gradient(#00000000, #fff)

	&__more
		font-size: 16px
		font-family: 'Open Sans'
		font-weight: 300
		color: $Color-Gray
		display: flex
		align-items: center
		text-decoration: none
		margin-top: 20px
		img
			height: 8px
			width: 8px
			margin-left: 10px
			transform: rotate(-90deg)

/** Footer **/

.footer
	background-color: $Color-Black
	color: $Color-White
	font-family: 'Open Sans'
	font-weight: 300
	&.container
		max-width: 1800px
		padding: 32px 74px 16px

	&__top-part
		display: flex
		justify-content: space-between
		align-items: flex-start

	&__bottom-part
		display: flex
		align-items: center
		justify-content: center
		margin-top: 130px
		gap: 32px
		width: 100%
		position: relative
		&::before
			content: 'Наши партнеры'
			display: block
			position: absolute
			font-family: 'Open Sans'
			font-weight: 300
			color: $Color-Gray
			top: -30px

.footer-column
	display: flex
	flex-direction: column
	gap: 16px
	&__title
		font: 20px
		font-weight: 300
		margin-bottom: 8px

	&__link
		font-size: 14px
		color: $Color-White
		text-decoration: none

	&__socials
		display: flex
		gap: 24px

	&__lang
		padding: 0 16px
		border-right: 1px solid $Color-White
		text-decoration: none
		color: $Color-White
		font-size: 14px
		text-transform: uppercase
		&:last-child
			border-right: 0

		&.active
			color: $Color-Pink

	&:last-child
		align-items: center
		justify-content: center

	&__number
		position: relative
		text-align: center
		&:nth-child(2)
			line-height: 200%
			&::after
				content: 'горячая линия'
				line-height: 100%
				font-size: 12px
				color: $Color-Gray
				position: absolute
				top: 26px
				left: 0
				width: 100%
				text-align: center

.subscribe
	margin-top: 80px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 100%
	background-color: $Color-Pink
	height: 150px

	&__row
		display: flex

	&__input
		font-family: 'Raleway'
		font-weight: 100
		font-size: 14px
		background: transparent
		outline: none
		border: 0
		width: 250px
		height: 40px
		margin-right: 32px
		color: $Color-Black
		height: 40px
		border-bottom: 1px solid $Color-Black
		&::placeholder
			color: $Color-Light-Gray

	&__button
		width: 135px
		height: 40px
		border: 1px solid $Color-Black
		color: $Color-Black
		font-family: 'Raleway'
		font-weight: 100
		font-size: 14px
		background: transparent
		border-radius: 20px
		transition: .2s
		&:hover
			background: $Color-Black
			color: $Color-White

	&__text
		font-family: 'Raleway'
		font-weight: 100
		font-size: 16px
		margin-bottom: 25px
