include assets/includes/head.pug
body 

	include assets/includes/header.pug
	
	main 

		a.header-banner(href="#") 
			img(src="assets/img/img-banner-top.png", alt="Баннер")

		nav.line-nav
			a(href="#")._item Каталог
			a(href="#")._item Пальто
			a(href="#")._item Кашемировые пальто

		section.catalog 
			h2._title КАШИМИРОВЫЕ ПАЛЬТО
			
			._grid 
				include assets/includes/catalog-aside.pug

				.catalog-content 
					.catalog-item 
						._wrapper-img
							img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._wrapper-icons
								._corner.catalog-item__discount.-top-left SALE <br/> 20%
								img(src="assets/img/icon-zoom.png", alt="Увеличение")._corner.-top-right
								img(src="assets/img/icon-weight-gray.png", alt="Весы")._corner.-top-right-2
								img(src="assets/img/icon-video.png", alt="Видео")._corner.-bottom-right
								img(src="assets/img/icon-gift.png", alt="Подарок")._corner.-bottom-left

						.description 
							._header 
								._column
									._title Кашемировое пальто «Рэй» какао	
									._price.-discount 3 200 грн <del>3 700 грн </del> 	
								button._button.-buy Купить
								button._button.-favorites 
									img(src="assets/img/icon-heart-catalog.png", alt="Избранное")
							._gallery 
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._sizes 
								p._size 42 <small>(2)</small>
								p._size 44 <small>(8)</small>
								p._size 46 <small>(2)</small>
								p._size 48 <small>(10)</small>
					
					.catalog-item
						._wrapper-img
							img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._wrapper-icons
								._corner.-top-left.catalog-item__discount SALE <br/> 20%
								img(src="assets/img/icon-zoom.png", alt="Увеличение")._corner.-top-right
								img(src="assets/img/icon-weight-gray.png", alt="Весы")._corner.-top-right-2
								img(src="assets/img/icon-video.png", alt="Видео")._corner.-bottom-right
								img(src="assets/img/icon-gift.png", alt="Подарок")._corner.-bottom-left

						.description 
							._header 
								._column
									._title Кашемировое пальто «Рэй» какао	
									._price.-discount 3 200 грн <del>3 700 грн </del> 	
								button._button.-buy Купить
								button._button.-favorites 
									img(src="assets/img/icon-heart-catalog.png", alt="Избранное")
							._gallery 
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._sizes 
								p._size 42 <small>(2)</small>
								p._size 44 <small>(8)</small>
								p._size 46 <small>(2)</small>
								p._size 48 <small>(10)</small>
					
					.catalog-item
						._wrapper-img
							img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._wrapper-icons
								._corner.-top-left.catalog-item__discount SALE <br/> 20%
								img(src="assets/img/icon-zoom.png", alt="Увеличение")._corner.-top-right
								img(src="assets/img/icon-weight-gray.png", alt="Весы")._corner.-top-right-2
								img(src="assets/img/icon-video.png", alt="Видео")._corner.-bottom-right
								img(src="assets/img/icon-gift.png", alt="Подарок")._corner.-bottom-left

						.description 
							._header 
								._column
									._title Кашемировое пальто «Рэй» какао	
									._price.-discount 3 200 грн <del>3 700 грн </del> 	
								button._button.-buy Купить
								button._button.-favorites 
									img(src="assets/img/icon-heart-catalog.png", alt="Избранное")
							._gallery 
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._sizes 
								p._size 42 <small>(2)</small>
								p._size 44 <small>(8)</small>
								p._size 46 <small>(2)</small>
								p._size 48 <small>(10)</small>
					
					.catalog-item
						._wrapper-img
							img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._wrapper-icons
								._corner.-top-left.catalog-item__discount SALE <br/> 20%
								img(src="assets/img/icon-zoom.png", alt="Увеличение")._corner.-top-right
								img(src="assets/img/icon-weight-gray.png", alt="Весы")._corner.-top-right-2
								img(src="assets/img/icon-video.png", alt="Видео")._corner.-bottom-right
								img(src="assets/img/icon-gift.png", alt="Подарок")._corner.-bottom-left

						.description 
							._header 
								._column
									._title Кашемировое пальто «Рэй» какао	
									._price.-discount 3 200 грн <del>3 700 грн </del> 	
								button._button.-buy Купить
								button._button.-favorites 
									img(src="assets/img/icon-heart-catalog.png", alt="Избранное")
							._gallery 
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._sizes 
								p._size 42 <small>(2)</small>
								p._size 44 <small>(8)</small>
								p._size 46 <small>(2)</small>
								p._size 48 <small>(10)</small>

				.pagination 
					button._button Показать ещё <img src="assets/img/icon-more.png" alt="Больше"/>
					._bullets 
						button._bullet.active 1
						button._bullet 2
						button._bullet 3
						button._bullet 4
						button._bullet 5
						._bullet.-dots ...
						button._bullet 12

				.catalog-search
					h3._title С этими товарами ищут
					._row
						a(href="#")._link костюм
						a(href="#")._link блузка
						a(href="#")._link брюки
						a(href="#")._link куртка женская весна
						a(href="#")._link пальто зимнее женское
						a(href="#")._link пальто женское в клетку
						a(href="#")._link пальто женское зимнее шерстяное
						a(href="#")._link пальто женское зимнее 
						a(href="#")._link пальто женское зимнее шерстяное
						a(href="#")._link пальто женское 
						a(href="#")._link пальто зимнее шерстяное

				.catalog-viewed 
					h3._title С этими товарами ищут
					._row
						.catalog-viewed-item
							._wrapper-img
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._header 
								._column
									._title Кашемировое пальто «Рэй» какао	
									._price.-discount 3 200 грн <del>3 700 грн </del>

						.catalog-viewed-item
							._wrapper-img
								img(src="assets/img/img-catalog-2.png", alt="Пальто")._img
							._header 
								._column
									._title Кашемировое пальто «Рэй» какао	
									._price 3 200 грн

		section.about 
			h2._title Компания "Emass" — производитель стильной и качественной женской одежды
			p._text Основным направлением нашей деятельности является производство и оптовая продажа верхней женской одежды. В первую очередь — это пальто, куртки, плащи, ветровки. <br/><br/>Мы реализуем крупным и мелким оптом верхнюю одежду во все регионы Украины и ближнего зарубежья, предоставляем эксклюзивные дистрибьюторские условия сотрудничества нашим постоянным клиентам. <br/><br/>Главная задача, которая стоит перед всем штатом, это высокое качество нашей продукции. Оригинальные модели с соблюдением всех тенденций современной моды, безупречная посадка, высокое качество используемых тканей и фурнитуры- это результат работы всего нашего коллектива, любящего свое дело. <br/><br/>Процесс производства каждой модели долгий и кропотливый. Прежде чем представить Вам новую модель, наши модельеры проделывают большую работу: детально изучают тенденции мира моды, учитывают потребительский спрос, актуальность тех или иных тканей и цветов. И только с учетом всех этих моментов создается эскиз новой оригинальной модели. Безупречная посадка наших моделей достигается благодаря отлаженной работы команды конструкторов. Ни одна единица не может быть запущена в производство без доведения ее до максимально идеальной посадки.
			a(href="#")._more Читать далее  
				img(src="assets/img/icon-dropdown.svg", alt="Смотреть больше")

	include assets/includes/footer.pug