doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
		link(rel="stylesheet", href="assets/css/style.min.css")
		title Emass
	body
		button.black#CloseCatalog
		.catalog-popup
			._column
				a(href="#")._text <span>NEW</span> Новая коллекция
				a(href="#")._text <span>SALE</span> Распродажа
				a(href="#")._text <span>TOP</span> Топ продаж
				a(href="#")._text <img src="assets/img/icon-mask.png" alt="Маски"> Дизайнерские маски
			
			._column
				a(href="#")._text Дубленки
				a(href="#")._text Пальто
				a(href="#")._text Парки
				a(href="#")._text Плащи
				a(href="#")._text Эко шубы

			._column
				a(href="#")._text Блузки
				a(href="#")._text Брюки
				a(href="#")._text Костюмы
				a(href="#")._text Платья
				a(href="#")._text Рубашки
				a(href="#")._text Брюки
				a(href="#")._text Пиджаки

			._column
				a(href="#")._img
					img(src="assets/img/img-catalog-1.png", alt="Каталог")
		

		header.header
			.container
				a._logo(href="#" tabindex='-1') 
					img(src="assets/img/logo.png", alt="Логотип")
				nav.nav 
					button._item(href="#")#OpenCatalog Каталог
					a._item(href="#") Помощь
					a._item(href="#") Lookbook
					a._item(href="#") Новости
					a._item(href="#") Блог
				nav.nav-buttons 
					button._button#openSearch 
						img(src="assets/img/icon-search.png", alt="Поиск")
					.search-popup 
						._header
							.nav-buttons__button
								img(src="assets/img/icon-search.png", alt="Поиск")
							input(type="text", placeholder='Поиск...')._input
							button._close#closeSearch
						._content 
							a(href="#")._item 
								img(src="assets/img/img-main-4.png", alt="Поиск")._img
								._title Шуба
								._price 314 грн
							a(href="#")._item 
								img(src="assets/img/img-main-4.png", alt="Поиск")._img
								._title Шуба
								._price 314 грн
							a(href="#")._item 
								img(src="assets/img/img-main-4.png", alt="Поиск")._img
								._title Шуба
								._price 314 грн
							a(href="#")._more Смотреть еще

					a._item(href="#") 
						img(src="assets/img/icon-user.png", alt="Пользователь")
					a._item.-notification.-small(href="#") 
						img(src="assets/img/icon-weight.png", alt="Весы")
					a._item.-notification.-small(href="#") 
						img(src="assets/img/icon-favorite.png", alt="Понравившееся")
					a._item.-notification(href="#"  data-count='2') 
						img(src="assets/img/icon-cart.png", alt="Корзина")
					.lang.js-dropdown
						p._header.js-dropdown-header(tabindex='0')
							span._value.js-dropdown-value Рус
							img(src="assets/img/icon-dropdown.svg", alt="Выпадающий список")
						._list.js-dropdown-list(tabindex='-1')
							button._button Рус
							button._button Укр
					.number.js-dropdown
						p._header.js-dropdown-header(tabindex='0')
							span._value.js-dropdown-value +38 (050) 770-00-21 
							img(src="assets/img/icon-dropdown.svg", alt="Выпадающий список")
						._list.js-dropdown-list(tabindex='-1')
							p._number +38 (050) 770-00-21 
							p._number +38 (050) 770-00-21 

		main 
			section
				h2(style='font-size: 0; opacity: 0; position: absolute;') Коллекции

				.collection-one.swiper 
					._wrapper.swiper-wrapper 
						.collection-one-sldie.swiper-slide 
							img(src="assets/img/img-main-3.png", alt="Коллекция")._img
							a(href="#", tabindex='-1')._link Смотреть
						.collection-one-sldie.swiper-slide 
							img(src="assets/img/img-main-3.png", alt="Коллекция")._img
							a(href="#", tabindex='-1')._link Смотреть
						.collection-one-sldie.swiper-slide 
							img(src="assets/img/img-main-3.png", alt="Коллекция")._img
							a(href="#", tabindex='-1')._link Смотреть
						.collection-one-sldie.swiper-slide 
							img(src="assets/img/img-main-3.png", alt="Коллекция")._img
							a(href="#", tabindex='-1')._link Смотреть
						.collection-one-sldie.swiper-slide 
							img(src="assets/img/img-main-3.png", alt="Коллекция")._img
							a(href="#", tabindex='-1')._link Смотреть
					._pagination.swiper-pagination

			section
				h2(style='font-size: 0; opacity: 0; position: absolute;') Коллекции

				.collection.-three
					._three-item 
						a._link(href="#") 
						img._img(src="assets/img/img-main-1.png", alt="Коллекция")
						._text-wrapper 
							p._text ЛЕТНЯЯ #[br] #[span]КОЛЛЕКЦИЯ

					._three-item 
						a._link(href="#")
						img._img(src="assets/img/img-main-4.png", alt="Коллекция")

					._three-item 
						a._link(href="#")
						img._img(src="assets/img/img-main-5.png", alt="Коллекция")

			section.grid.-category
				h2(style='font-size: 0; opacity: 0; position: absolute;') Коллекции

				.category 
					._text-wrapper 
						p._title Пальто
						p._text оверсайз, длинные, двубортные 
						a._link(href='#') смотреть все
					img._img(src="assets/img/img-second-1.png", alt="Категория")

				.category 
					._text-wrapper 
						p._title Дубленки
						p._text оверсайз, длинные, двубортные 
						a._link(href='#') смотреть все
					img._img(src="assets/img/img-second-2.png", alt="Категория")

				.category
					._text-wrapper 
						p._title Шубы
						p._text оверсайз, длинные, двубортные 
						a._link(href='#') смотреть все
					img._img(src="assets/img/img-second-3.png", alt="Категория")

				.category
					._text-wrapper.-special 
						p._title.-special special price
						p._text.-special -30 %
						a._link(href='#').-fill
					img._img(src="assets/img/img-second-4.png", alt="Категория")

			section.grid.-season
				h2(style='font-size: 0; opacity: 0; position: absolute;') Сезоны

				.season
					h3._title Весна
					p._text 2020
					img(src="assets/img/img-seasons-1.png", alt="Сезоны")._img
				
				.season
					h3._title Зима
					p._text 2019
					img(src="assets/img/img-seasons-2.png", alt="Сезоны")._img

				a(href="#").season-link 
					span LookBook

			section.container.-catalog 
				h2(style='font-size: 0; opacity: 0; position: absolute;') Каталог

				.catalog-filter 
					button._item.active Новинки
					button._item Топ продаж
					button._item Распродажа

				.catalog-swiper-wrapper
					.catalog-swiper.swiper
						._wrapper.swiper-wrapper 
							.main-swiper-slide.swiper-slide 
								._img-wrapper
									img._img(src="assets/img/img-main-2.png", alt="Товар")
									button._video 
										img(src="assets/img/icon-video.png", alt="Видео")
								p._price 810 грн
								p._description Льняное платье «Миранда» синее в полоску 
								a._buy(href="#", tabindex='-1').-fill

							.main-swiper-slide.swiper-slide 
								._img-wrapper
									img._img(src="assets/img/img-main-2.png", alt="Товар")
									button._video 
										img(src="assets/img/icon-video.png", alt="Видео")
								p._price 820 грн
								p._description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								a._buy(href="#", tabindex='-1').-fill
							
							.main-swiper-slide.swiper-slide 
								._img-wrapper
									img._img(src="assets/img/img-main-2.png", alt="Товар")
									button._video 
										img(src="assets/img/icon-video.png", alt="Видео")
								p._price 486 грн
								p._description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								a._buy(href="#", tabindex='-1').-fill

							.main-swiper-slide.swiper-slide 
								._img-wrapper
									img._img(src="assets/img/img-main-2.png", alt="Товар")
									button._video 
										img(src="assets/img/icon-video.png", alt="Видео")
								p._price 486 грн
								p._description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								a._buy(href="#", tabindex='-1').-fill

							.main-swiper-slide.swiper-slide 
								._img-wrapper
									img._img(src="assets/img/img-main-2.png", alt="Товар")
									button._video 
										img(src="assets/img/icon-video.png", alt="Видео")
								p._price 486 грн
								p._description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								a._buy(href="#", tabindex='-1').-fill

							.main-swiper-slide.swiper-slide 
								._img-wrapper
									img._img(src="assets/img/img-main-2.png", alt="Товар")
									button._video 
										img(src="assets/img/icon-video.png", alt="Видео")
								p._price 486 грн
								p._description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								a._buy(href="#", tabindex='-1').-fill

					.swiper-button-prev(tabindex='0')
					.swiper-button-next(tabindex='0')

			section.video 
				h2._title Видео
				p._subtitle Подписывайтесь на наш  
					a(href='#') Youtube канал
				._wrapper
					label._buttons 
						input(type="checkbox")
						img(src="assets/img/icon-play.svg", alt="Воспроизвести")
						img(src="assets/img/icon-pause.svg", alt="Поставить на паузу")
					h3._title.-video Показ Emass на Moscow Fashion Week
					img._img(src="assets/img/img-video-1.png", alt="Видео")

			section.instagram 
				h2._title #emassshop
				p._subtitle Подписывайся на наш   
					a(href='#') Instagram
				._wrapper
					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-1.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-2.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-3.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-2.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-3.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-2.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-3.png", alt="Фотография")
					
					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-2.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-3.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-2.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-3.png", alt="Фотография")

					._item 
						._text 
							img(src="assets/img/icon-heart.png", alt="Лайки")
							span 200
							img(src="assets/img/icon-comment.png", alt="Коментарии")
							span 200
						img._img(src="assets/img/img-instagram-1.png", alt="Фотография")

			section.container.-review 
				h2._title Отзывы

				.review-swiper-wrapper
					.review-swiper.swiper
						._wrapper.swiper-wrapper 
							.review-swiper-slide.swiper-slide 
								img(src="assets/img/img-review-1.png", alt="Отзыв")._img
								._text
									._title Женская рубашка с карманами «Мариса» разноцветная
									._price <strong>740</strong> грн
									._description Девочки! Спасибо за рубашку. Наконецто нашла чт о искала. Красивая современная рубашка в полосску реально сделана из льона, легкая такая как раз на лето
									._author Лена Пагутяк
									a(href="#")._more Смотреть 
										img(src="assets/img/icon-arrow-1.svg", alt="Смотреть больше")

							.review-swiper-slide.swiper-slide 
								img(src="assets/img/img-review-1.png", alt="Отзыв")._img
								._text
									._title Женская рубашка с карманами «Мариса» разноцветная
									._price <strong>740</strong> грн
									._description Девочки! Спасибо за рубашку. Наконецто нашла чт о искала. Красивая современная рубашка в полосску реально сделана из льона, легкая такая как раз на лето
									._author Лена Пагутяк
									a(href="#")._more Смотреть 
										img(src="assets/img/icon-arrow-1.svg", alt="Смотреть больше")

					.swiper-button-prev(tabindex='0')
					.swiper-button-next(tabindex='0')

			section.about 
				h2._title Компания "Emass" — производитель стильной и качественной женской одежды
				p._text Основным направлением нашей деятельности является производство и оптовая продажа верхней женской одежды. В первую очередь — это пальто, куртки, плащи, ветровки. <br/><br/>Мы реализуем крупным и мелким оптом верхнюю одежду во все регионы Украины и ближнего зарубежья, предоставляем эксклюзивные дистрибьюторские условия сотрудничества нашим постоянным клиентам. <br/><br/>Главная задача, которая стоит перед всем штатом, это высокое качество нашей продукции. Оригинальные модели с соблюдением всех тенденций современной моды, безупречная посадка, высокое качество используемых тканей и фурнитуры- это результат работы всего нашего коллектива, любящего свое дело. <br/><br/>Процесс производства каждой модели долгий и кропотливый. Прежде чем представить Вам новую модель, наши модельеры проделывают большую работу: детально изучают тенденции мира моды, учитывают потребительский спрос, актуальность тех или иных тканей и цветов. И только с учетом всех этих моментов создается эскиз новой оригинальной модели. Безупречная посадка наших моделей достигается благодаря отлаженной работы команды конструкторов. Ни одна единица не может быть запущена в производство без доведения ее до максимально идеальной посадки.
				a(href="#")._more Читать далее  
					img(src="assets/img/icon-dropdown.svg", alt="Смотреть больше")

			form(action="", method="get").subscribe 
				p._text Подпишитесь на рассылку новостей, событий, коллекций и специальных предложений
				._row 
					input(type="email", placeholder='Укажите E-mail')._input
					button._button Подписаться

		footer.footer
			.footer.container 
				._top-part
					.footer-column
						h3._title Каталог
						a(href="#")._link Новая коллекция
						a(href="#")._link Дубленки
						a(href="#")._link Пальто
						a(href="#")._link Парки
						a(href="#")._link Плащи
						a(href="#")._link Эко шубы
						a(href="#")._link Легкая одежда
						a(href="#")._link Распродажа
					.footer-column 
						h3._title Помощь
						a(href="#")._link Оптовое предложение 
						a(href="#")._link Возврат товара
						a(href="#")._link Доставка и оплата
						a(href="#")._link Таблица размеров
						a(href="#")._link Личный кабинет
						a(href="#")._link Политика приватности 
						a(href="#")._link Карта сайта 
					.footer-column 
						h3._title О компании
						a(href="#")._link О нас
						a(href="#")._link Контакты
						a(href="#")._link Отзывы
						a(href="#")._link Lookbook
						a(href="#")._link Блог
						a(href="#")._link Новости
						a(href="#")._link Подарочный сертификат
					.footer-column 
						._socials 
							a(href="#")._social
								img(src="assets/img/icon-facebook.svg", alt="facebook")
							a(href="#")._social
								img(src="assets/img/icon-instagram.png", alt="instagram")
							a(href="#")._social
								img(src="assets/img/icon-youtube.svg", alt="youtube")
						._number 0-800-33-00-21 <br/> (бесплатно)
						._languages 
							a(href='#')._lang.active Рус
							a(href='#')._lang Укр
						
							
				._bottom-part 
					img(src="assets/img/icon-company-1.png", alt="La Boutique")
					img(src="assets/img/icon-company-2.png", alt="Lamoda")
					img(src="assets/img/icon-company-3.png", alt="Rozetka")

						
			
		script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
		script(src="assets/scripts/script.min.js") 
		script(src="assets/scripts/script.ts.min.js") 
