.catalog-aside
		
	a(href="#")._link.js-accardion-item Демисезонные пальто
	a(href="#")._link.js-accardion-item Пальто оверсайз
	a(href="#")._link.js-accardion-item Осенние пальто
	a(href="#")._link.js-accardion-item Зимние пальто
	a(href="#")._link.js-accardion-item Кашемировые пальто
	a(href="#")._link.js-accardion-item Длинные пальто
	a(href="#")._link.js-accardion-item Короткие пальто
	a(href="#")._link.js-accardion-item Пальто с капюшоном
	a(href="#")._link.js-accardion-item Двубортные пальто
	a(href="#")._link.js-accardion-item Пальто с мехом
	a(href="#")._link.js-accardion-item Полупальто
	a(href="#")._link.js-accardion-item Весенние пальто
	a(href="#")._link.js-accardion-item Пальто больших размеров

	a(href="#")._banner
		img(src="assets/img/img-catalog-aside-1.png", alt="Баннер")

	a(href="#")._banner
		img(src="assets/img/img-catalog-aside-2.png", alt="Баннер")
