footer.footer
	.footer.container 
		._top-part
			.footer-column
				h3._title Каталог
				a(href="#")._link Новая коллекция
				a(href="#")._link Дубленки
				a(href="#")._link Пальто
				a(href="#")._link Парки
				a(href="#")._link Плащи
				a(href="#")._link Эко шубы
				a(href="#")._link Легкая одежда
				a(href="#")._link Распродажа
			.footer-column 
				h3._title Помощь
				a(href="#")._link Оптовое предложение 
				a(href="#")._link Возврат товара
				a(href="#")._link Доставка и оплата
				a(href="#")._link Таблица размеров
				a(href="#")._link Личный кабинет
				a(href="#")._link Политика приватности 
				a(href="#")._link Карта сайта 
			.footer-column 
				h3._title О компании
				a(href="#")._link О нас
				a(href="#")._link Контакты
				a(href="#")._link Отзывы
				a(href="#")._link Lookbook
				a(href="#")._link Блог
				a(href="#")._link Новости
				a(href="#")._link Подарочный сертификат
			.footer-column 
				._socials 
					a(href="#")._social
						img(src="assets/img/icon-facebook.svg", alt="facebook")
					a(href="#")._social
						img(src="assets/img/icon-instagram.png", alt="instagram")
					a(href="#")._social
						img(src="assets/img/icon-youtube.svg", alt="youtube")
				._number 0-800-33-00-21 <br/> (бесплатно)
				._languages 
					a(href='#')._lang.active Рус
					a(href='#')._lang Укр
				
					
		._bottom-part 
			img(src="assets/img/icon-company-1.png", alt="La Boutique")
			img(src="assets/img/icon-company-2.png", alt="Lamoda")
			img(src="assets/img/icon-company-3.png", alt="Rozetka")

				
	
script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
script(src="assets/scripts/script.min.js") 
script(src="assets/scripts/script.ts.min.js") 
