doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
		link(rel="stylesheet", href="assets/css/style.min.css")
		title Emass